:root{
    --boo: #7743e2;
}

.links1{
    margin-left: 1070px;
    
    

}
.nav-link{
    
    color: black;
    text-decoration: none !important;
    
}
.nav-link:hover{
    
    color: white;
    
    
}
.NavHead{
    background-color: var(--boo) ;
    
    border-radius: 4px;
    margin-bottom: -8px;
    
}
.borderNav{
    background-color: var(--boo);
}
.botton{
    background-color: var(--boo);
}
.container{
    max-width: 100%;
}


